/* Basic styling for the portfolio */

.kalnia-font {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: #4D4D4D;
    margin:0
}

.content-home {
    background-color: #CE0089 ;
    width: 100%;
    margin:  auto;
}

.home-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.home-container__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
}
.home-container__logo img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0;
}
.home-container__topbar {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home-container__center {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;

}
.home-container__right {
    margin:auto;
    width: 250px;
}

.home-container__topbar h1 {
    font-family : 'Kalnia', serif;
    color: #fcfcfc;
    text-align: center;
    font-size: 5rem;
    margin-top: 50px; 
    font-weight: 400;
}

.home-container__topbar p {
    color: #d4d2d2;
    text-align: center;
    font-size: 1.25rem;
    margin-top: -10px;
}
hr {
    max-width: 100%;
    margin: 40px auto;
    border: 1px solid #fcfcfc;
}

            
.home-container__boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Kalnia', serif;
    font-weight: 200;
    
}

.home-container__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #d9d9d9;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    color: #CE0089;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    z-index: 2;
    margin-top: 10px;
    cursor: pointer;
    
}
.home-container__box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s, border-radius 0.25s ease-in-out;
}

.home-container__box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #CE0089;
    font-family: 'Kalnia', serif;
    font-weight: 400;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #CE0089;
    color: #fff;
    margin-top: 40px;
}